@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.push-on {
  animation: clicked-on 0.2s ease-in-out;
}

.push-off {
  animation: clicked-off 0.2s ease-in-out;
}

@keyframes clicked-on {
  50% {
    --tw-shadow-color: #fca5a5;
    --tw-shadow: var(--tw-shadow-colored);
    top: 0.25rem;
  }
}

@keyframes clicked-off {
  50% {
    --tw-shadow-color: #000;
    --tw-shadow: var(--tw-shadow-colored);
    top: 0.25rem;
  }
}

input[type='range'] {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 300px;
  height: 6px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 8px;
  background: rgb(34, 197, 94);
  margin-top: -4px;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
